In [2]:
"""
Pandas Kütüphanesinde 10 Fonksiyonun Açıklaması ve Kullanım Örnekleri
"""

import pandas as pd

# Örnek veri oluşturma
data = {
    "A": [1, 2, 3, 4, 5],
    "B": [10, 20, 30, 40, 50],
    "C": [100, 200, 300, 400, 500]
}
df = pd.DataFrame(data)
print("1. Örnek DataFrame:\n", df)

# 1. head(): DataFrame'in ilk 5 satırını getirir
print("\n1. head() Kullanımı:\n", df.head())

1. Örnek DataFrame:
    A   B    C
0  1  10  100
1  2  20  200
2  3  30  300
3  4  40  400
4  5  50  500

1. head() Kullanımı:
    A   B    C
0  1  10  100
1  2  20  200
2  3  30  300
3  4  40  400
4  5  50  500

In [3]:
# 2. tail(): DataFrame'in son 5 satırını getirir
print("\n2. tail() Kullanımı:\n", df.tail())

2. tail() Kullanımı:
    A   B    C
0  1  10  100
1  2  20  200
2  3  30  300
3  4  40  400
4  5  50  500

In [4]:
# 3. info(): DataFrame hakkında genel bilgi verir
print("\n3. info() Kullanımı:")
df.info()

3. info() Kullanımı:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       5 non-null      int64
 1   B       5 non-null      int64
 2   C       5 non-null      int64
dtypes: int64(3)
memory usage: 192.0 bytes

In [5]:
# 4. describe(): Sayısal sütunlar için özet istatistikleri döndürür
print("\n4. describe() Kullanımı:\n", df.describe())

4. describe() Kullanımı:
               A          B           C
count  5.000000   5.000000    5.000000
mean   3.000000  30.000000  300.000000
std    1.581139  15.811388  158.113883
min    1.000000  10.000000  100.000000
25%    2.000000  20.000000  200.000000
50%    3.000000  30.000000  300.000000
75%    4.000000  40.000000  400.000000
max    5.000000  50.000000  500.000000

In [6]:
# 5. loc[]: Etiketlere göre veri seçimi yapar
print("\n5. loc[] Kullanımı:\n", df.loc[0])

5. loc[] Kullanımı:
 A      1
B     10
C    100
Name: 0, dtype: int64

In [7]:
# 6. iloc[]: İndekse göre veri seçimi yapar
print("\n6. iloc[] Kullanımı:\n", df.iloc[1])

6. iloc[] Kullanımı:
 A      2
B     20
C    200
Name: 1, dtype: int64

In [8]:
# 7. isnull(): Eksik değerleri kontrol eder
print("\n7. isnull() Kullanımı:\n", df.isnull())

7. isnull() Kullanımı:
        A      B      C
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False
4  False  False  False

In [9]:
# 8. fillna(): Eksik değerleri belirli bir değerle doldurur
df_filled = df.fillna(0)
print("\n8. fillna() Kullanımı:\n", df_filled)

8. fillna() Kullanımı:
    A   B    C
0  1  10  100
1  2  20  200
2  3  30  300
3  4  40  400
4  5  50  500

In [10]:
# 9. drop(): Belirli bir sütunu veya satırı siler
df_dropped = df.drop(columns=["B"])
print("\n9. drop() Kullanımı (Sütun B silindi):\n", df_dropped)

9. drop() Kullanımı (Sütun B silindi):
    A    C
0  1  100
1  2  200
2  3  300
3  4  400
4  5  500

In [11]:
# 10. groupby(): Veriyi belirli bir sütuna göre gruplar ve işlem yapar
df_grouped = df.groupby("A").sum()
print("\n10. groupby() Kullanımı:\n", df_grouped)

10. groupby() Kullanımı:
     B    C
A
1  10  100
2  20  200
3  30  300
4  40  400
5  50  500